* {
  box-sizing: border-box;
}
:root {
  --primary-color: #2e80ce;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-weight: 300;
}
input,
textarea,
button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
/* Common */
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  min-width: 205px;
  height: 60px;
  padding: 0 16px;
  border-radius: 999px;
  background: var(--primary-color);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  transition: all ease 0.2s;
}
.btn:hover {
  opacity: 0.9;
}
.title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
}
.desc {
  margin-top: 18px;
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  line-height: 166.667%;
}
.line-clamp {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 3);
  -webkit-line-clamp: var(--line-clamp, 3);
  overflow: hidden;
  -webkit-box-orient: vertical;
}

/* control */
.control {
  display: flex;
  gap: 18px;
  align-items: center;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  background: transparent;
  color: #575f66;
  transition: all ease 0.2s;
}
.control__btn:hover {
  cursor: pointer;
  background: #2e80ce;
  color: #fff;
  border-color: #2e80ce;
}
/* =====================header=====================*/
.header {
  background: #10375c;
  padding-top: 30px;
  padding-bottom: 12px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 6px;
}
.logo__text {
  color: #fff;
  font-size: 1.2rem;
  line-height: 77.778%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.logo__text strong {
  font-size: 1.8rem;
  font-weight: 400;
}

.nav {
  display: flex;
}
.navbar__text {
  color: #c9d2da;
  line-height: 175%;
}

.nav__link {
  padding: 12px 21px;
}
.nav__link:hover,
.nav__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
  position: relative;
}
.nav__link:hover::before,
.nav__link--active::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
}
.header .actions {
  display: flex;
  align-items: center;
  gap: 28px;
}
.action__btn {
  min-width: 104px;
  height: 44px;
  font-size: 1.6rem;
}

/* =====================main=====================*/

/* =====================hero=====================*/
.hero {
  background: #10375c;
  padding-top: 64px;
  padding-bottom: 110px;
}
.hero .container {
  display: flex;
  align-items: center;
}
.hero__content {
  width: 44.18%;
  flex-shrink: 0;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114.286%;
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  line-height: 166.667%;
}
.hero__contact {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
}
.hero__media {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img:first-child {
  width: 330px;
  height: 540px;
  position: relative;
  left: 6px;
}
.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* =====================service=====================*/
.service {
  padding-top: 170px;
  padding-bottom: 170px;
}
.service .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service__content {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}
.service__list {
  width: 40.17%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.service__item {
  display: flex;
  text-align: start;
  border-radius: 10px;
  background: #fff;
  padding: 22px;
  transition: all ease 0.2s;
}
.service__icon {
  width: 60px;
  height: 60px;
  background-color: #eff6fd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 24px;
  color: #10375c;
  transition: all ease 0.2s;
}
.service__item:hover {
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service__item:hover .service__icon {
  background: #2e80ce;
  color: #fff;
}
.service__info {
  margin-left: 19px;
}
.service__name {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service__text {
  margin-top: 8px;
  color: #575f66;
  line-height: 175%;
}
.service__btn {
  margin-top: 55px;
}

/* =====================guides=====================*/
.guides {
  padding-block: 100px;
  background: #f6fbff;
}
.guides__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.guides-item {
  padding: 43px 42px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: all ease 0.2s;
}
.guides-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}
.guides-item__title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138.462%;
}
.guides-item__desc {
  margin-top: 28px;
  color: #575f66;
  line-height: 175%;
}
.guides-item__more {
  margin-top: 18px;
  color: #2e80ce;
  font-weight: 400;
  line-height: 175%;
}

/* =====================features=====================*/
.features {
  padding-block: 170px;
}
.features .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features__media {
  display: inline-flex;
  position: relative;
  padding-right: 58px;
  padding-bottom: 121px;
}
.features__img-1 {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}
.features__img-2 {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}
.features__content {
  width: 40.17%;
}
.features__btn {
  margin-top: 38px;
}

/* =====================team=====================*/
.team {
  padding-bottom: 170px;
  text-align: center;
}
.team__btn {
  margin-top: 38px;
}
.team__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.team__img {
  width: 100%;
  height: 318px;
  display: flex;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.team__img img {
  display: block;
  margin-top: auto;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 6px;
  transition: all ease 0.2s;
}
.team__item:hover .team__img img {
  scale: 1.1;
}
.team__member {
  display: block;
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-weight: 400;
  line-height: 175%;
}
.team__info {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  line-height: 185.714%;
}
.team .control {
  margin-top: 38px;
  justify-content: center;
}

/* =====================download=====================*/
.download {
  padding-block: 95px 170px;
}
.download .container {
  border-radius: 4px;
  background: #2e80ce;
  padding: 75px 70px;
  position: relative;
}
.download__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 70px;
}
.download__content {
  width: 586px;
  margin-left: auto;
}
.download .title {
  color: #fff;
  width: 489px;
}
.download .desc {
  color: #fff;
  width: 100%;
}
.download__link{
  margin-top: 38px;
  display: flex;
  gap: 28px;
  align-items: center;
}
